@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body{
    background-color: #464b50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

main{
    flex: 1;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #464b59;
    max-width: 38em;
    margin: 0 auto;   
    border-radius: 2em;
    padding: 3em;
}

img{
    border-radius: 1.2em;
    box-shadow: 0 0 300px 5px #529ca4;
}

.main-container .link{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.main-container .link .btn-make,
.main-container .link .btn-check{
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border-radius: 1em;
    width: 12em;
    cursor: pointer;
    border: 0.4em solid #464b59;
    box-shadow: 0.2em 0.2em 0.2em;
    font-family: "Itim", cursive;
    color: white;
    background-color: #464b59;
    text-decoration: none;
}

.main-container .link .btn-make{
    grid-column: 1;
    grid-row: 6;
}

.main-container .link .btn-check{
    grid-column: 5;
    grid-row: 6;
}

.main-container .link .btn-make:hover,
.main-container .link .btn-check:hover{
    transform: scale(1.05);
}


.main-container .link .btn-make:focus,
.main-container .link .btn-check:focus{
    outline: none;
    box-shadow: 0 0 0 0.2em #529ca4;
}
.foot{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Itim", cursive;
    color: #529ca4;
    position: absolute;
    bottom: 0; /*Uso el bottom 0 para que me quede pegado en eñ final de pagina, en otra pagina no lo debo usar para que sea responsive */
    width: 98%;
    font-size: 1.2em;
}

.links{
    display: flex;
    gap: 3em;
    color: #529ca4;
}

a{
    text-decoration: none;
    color: #529ca4;
}

figure img{
    border-radius: 0.5em;
    box-shadow: 0 0 200px 5px #529ca4;
}

@media (min-width: 375px) {
    body{
        font-size: 16px;
    }

}

@media (min-width: 1448px) {

}