@import "normalize.css";

body{
    background-color: #464b50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

main{
    flex: 1;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #464b59;
    width: 37em;
    min-height: 30em;
    margin: 0 auto;   
    border-radius: 2em;
    padding: 3em;
}

img{
    border-radius: 1.2em;
    box-shadow: 0 0 300px 5px #529ca4;
}

.main-container .link{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.main-container .link .btn-make{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border-radius: 1em;
    width: 12em;
    cursor: pointer;
    border: 0.4em solid #464b59;
    box-shadow: 0.2em 0.2em 0.2em;
    font-family: "Itim", cursive;
    color: white;
    background-color: #464b59;
    text-decoration: none;
    grid-column: 1;
    grid-row: 7;

}

.main-container .link .btn-make:hover{
    transform: scale(1.05);
}

.main-container .link .btn-check{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 12em;
    border-radius: 1em;
    cursor: pointer;
    border: 0.4em solid #464b59;
    box-shadow: 0.2em 0.2em 0.2em;
    font-family: "Itim", cursive;
    color: white;
    background-color: #464b59;
    text-decoration: none;
    grid-column: 5;
    grid-row: 7;
}

.main-container .link .btn-check:hover{
    transform: scale(1.05);
}

.main-container .link .btn-make:focus, .main-container .link .btn-check:focus{
    outline: none;
    box-shadow: 0 0 0 0.2em #529ca4;
}

@media (min-width: 375px) {
    body{
        font-size: 16px;
    }

}

@media (min-width: 1448px) {

}